{# {{ script({ add: "$('a.js-external').attr('target', '_blank');", dynamic: __oxid_include_dynamic }) }} #}
{% capture append = "oxidBlock_content" %}
    {% set search_title = "SEARCH"|translate %}
    {% set searchparamforhtml = oView.getSearchParamForHtml() %}
    {% set template_title = "$search_title - $searchparamforhtml" %}
    {% set search_head = "HITS_FOR"|translate %}
    {% set search_head = oView.getArticleCount()|cat(" ")|cat(search_head)|cat(") %}


    <div class="page-header">
        {% block search_header %}
            <h1 class="pull-left">{{ search_head }}</h1>
            {% set rsslinks = oView.getRssLinks() %}
            {% if rsslinks.searchArticles %}
                {% set imgUrl = oViewConf.getImageUrl('rss.png') %}
                <small class="pull-right">
                    <a class="rss" id="rssSearchProducts" target="_blank" href="{{ rsslinks.searchArticles.link }}" title="{{ rsslinks.searchArticles.title }}">
                        <i class="fa fa-rss"></i> {{ rsslinks.searchArticles.title }}
                    </a>
                </small>
            {% endif %}
            <div class="clearfix"></div>
        {% endblock %}
    </div>
    {% block search_results %}
        {% if oView.getArticleCount() %}
            <div class="listRefine clear bottomRound">
                {% block search_top_listlocator %}
                    {% include "widget/locator/listlocator.html.twig" with {locator: oView.getPageNavigationLimitedTop(), listDisplayType: true, itemsPerPage: true, sort: true} %}
                {% endblock %}
            </div>
        {% else %}
            <p class="alert alert-info">{{ translate({ ident: "NO_ITEMS_FOUND" }) }}</p>
        {% endif %}
        {% if oView.getArticleList() %}
            {% for product in oView.getArticleList() %}
                {% include "widget/product/list.html.twig" with {type: oView.getListDisplayType(), listId: "searchList", products: oView.getArticleList(), showMainLink: true} %}
            {% endfor %}
        {% endif %}
        {% if oView.getArticleCount() %}
            {% include "widget/locator/listlocator.html.twig" with {locator: oView.getPageNavigationLimitedBottom(), place: "bottom"} %}
        {% endif %}
    {% endblock %}
    {{ insert_tracker({title: template_title}) }}
{% endcapture %}
{% set template_title = "SEARCH"|translate %}

{% include "layout/page.html.twig" with {title: template_title, location: "SEARCH"|translate, sidebar: "Left"} %}
