<div class="item">
    {% set currency = oView.getActCurrency() %}
    {% if showMainLink %}
        {% set _productLink = product.getMainLink() %}
    {% else %}
        {% set _productLink = product.getLink() %}
    {% endif %}

    <div class="row picture">
        <div class="col-xs-12">
            <a href="{{ _productLink|raw() }}" {% if oView.noIndex() %}rel="nofollow"{% endif %}>
                <img src="{% if size=='big' %}{{ product.getPictureUrl(1) }}{% elseif size=='thinest' %}{{ product.getIconUrl() }}{% else %}{{ product.getThumbnailUrl() }}{% endif %}" alt="{{ product.oxarticles__oxtitle.value|striptags }} {{ product.oxarticles__oxvarselect.value|default('') }}" class="img-responsive">
            </a>
        </div>
    </div>

    <strong class="title">
        <a class="fn" href="{{ _productLink|raw() }}" {% if oView.noIndex() %}rel="nofollow"{% endif %}>{{ product.oxarticles__oxtitle.value }} {{ product.oxarticles__oxvarselect.value }}</a>
    </strong><br/>
    <span class="identifier">
        {% if product.oxarticles__oxweight.value %}
            <div>
                <span title="weight">{{ translate({ ident: "WEIGHT" }) }}</span>
                <span class="value">{{ product.oxarticles__oxweight.value }} {{ translate({ ident: "KG" }) }}</span>
            </div>
        {% endif %}
        <small class="text-muted" title="sku">{{ translate({ ident: "PRODUCT_NO", suffix: "COLON" }) }}</small>
        <small class="value text-muted">{{ product.oxarticles__oxartnum.value }}</small>
    </span>

    {% if size=='thin' or size=='thinest' %}
        <span class="flag {% if product.getStockStatus() == -1 %}red{% elseif product.getStockStatus() == 1 %}orange{% elseif product.getStockStatus() == 0 %}green{% endif %}">&nbsp;</span>
    {% endif %}

    {% set aVariantSelections = product.getVariantSelections("null", "null", 1) %}
    {% set blShowToBasket = true %} {# tobasket or more info ? #}
    {% if product.isNotBuyable() or (aVariantSelections and aVariantSelections.selections) or product.hasMdVariants() or (oViewConf.showSelectListsInList() and product.getSelections(1)) or product.getVariants() %}
        {% set blShowToBasket = false %}
    {% endif %}

    <form name="tobasket.{{ testid }}" {% if blShowToBasket %}action="{{ oViewConf.getSelfActionLink()|raw() }}" method="post"{% else %}action="{{ _productLink|raw() }}" method="get"{% endif %}>
        <div class="variants">
            {% hasrights { "ident": "TOBASKET",} %}
                {% if blShowToBasket %}
                    {{ oViewConf.getHiddenSid()|raw() }}
                    {{ oViewConf.getNavFormParams()|raw() }}
                    <input type="hidden" name="cl" value="{{ oViewConf.getActiveClassName() }}">
                    {% if owishid %}
                        <input type="hidden" name="owishid" value="{{ owishid }}">
                    {% endif %}
                    {% if toBasketFunction %}
                        <input type="hidden" name="fnc" value="{{ toBasketFunction }}">
                    {% else %}
                        <input type="hidden" name="fnc" value="tobasket">
                    {% endif %}
                    <input type="hidden" name="aid" value="{{ product.oxarticles__oxid.value }}">
                    {% if altproduct %}
                        <input type="hidden" name="anid" value="{{ altproduct }}">
                    {% else %}
                        <input type="hidden" name="anid" value="{{ product.oxarticles__oxnid.value }}">
                    {% endif %}
                    {% if recommid %}
                        <input type="hidden" name="recommid" value="{{ recommid }}">
                    {% endif %}
                    <input type="hidden" name="pgNr" value="{{ oView.getActPage() }}">
                {% endif %}
            {% endhasrights %}
        </div>

        <div class="tobasket">
            {% hasrights { "ident": "SHOWARTICLEPRICE",} %}
                {% set tprice = product.getTPrice() %}
                {% set price = product.getPrice() %}
                <p class="oldPrice">
                    {% if tprice and tprice.getBruttoPrice() > price.getBruttoPrice() %}
                        <strong>{{ translate({ ident: "REDUCED_FROM" }) }} <del>{{ product.getFTPrice() }} {{ currency.sign }}</del></strong>
                    {% else %}
                        &nbsp;
                    {% endif %}
                </p>
            {% endhasrights %}
            <div class="tobasketFunction clear">
                {% hasrights { "ident": "SHOWARTICLEPRICE",} %}
                    <span id="productPrice_{{ testid }}" class="price lead{% if tprice and tprice.getBruttoPrice() > price.getBruttoPrice() %} text-danger{% endif %}">{{ product.getFPrice() }} {{ currency.sign }} {% if blShowToBasket %}*{% endif %}</span>
                    {% if product.loadAmountPriceInfo() %}
                        {% include "page/details/inc/priceinfo.html.twig" with {oDetailsProduct: product} %}
                    {% endif %}

                {% endhasrights %}
                {% if blShowToBasket %}
                    {% hasrights { "ident": "TOBASKET",} %}
                        <div class="input-group">
                            <input type="text" name="am" value="1" size="3" autocomplete="off" class="form-control" title="{{ translate({ ident: "QUANTITY" }) }}">
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-primary hasTooltip" title="{{ translate({ ident: "TO_CART" }) }}">
                                    <i class="fa fa-shopping-cart"></i>
                                </button>
                            </span>
                        </div>
                    {% endhasrights %}
                {% else %}
                    <span >
                        <a id="variantMoreInfo_{{ testid }}" class="btn btn-primary btn-block" href="{{ _productLink|raw() }}" onclick="oxid.mdVariants.getMdVariantUrl('mdVariant_{{ testid }}'); return false;">{{ translate({ ident: "MORE_INFO" }) }}</a>
                    </span>
                {% endif %}
            </div>

            {# additional info #}
            <div class="additionalInfo clear">
                {% set oUnitPrice = product.getUnitPrice() %}
                {% if oUnitPrice %}
                    <span id="productPriceUnit">{{ format_price(oUnitPrice, { currency: currency }) }}/{{ product.getUnitName() }}</span>
                {% endif %}

                {% if product.getStockStatus() == -1 %}
                    <span class="stockFlag notOnStock">
                        {% if product.oxarticles__oxnostocktext.value %}
                            {{ product.oxarticles__oxnostocktext.value }}
                        {% elseif oViewConf.getStockOffDefaultMessage() %}
                            <span class="text-danger">{{ translate({ ident: "MESSAGE_NOT_ON_STOCK" }) }}</span>
                        {% endif %}
                        {% if product.getDeliveryDate() %}
                            <span class="text-info">{{ translate({ ident: "AVAILABLE_ON" }) }} {{ product.getDeliveryDate() }}</span>
                        {% endif %}
                    </span>
                {% elseif product.getStockStatus() == 1 %}
                    <span class="stockFlag lowStock">
                        <span class="text-warning">{{ translate({ ident: "LOW_STOCK" }) }}</span>
                    </span>
                {% elseif product.getStockStatus() == 0 %}
                    <span class="stockFlag">
                        {% if product.oxarticles__oxstocktext.value %}
                            {{ product.oxarticles__oxstocktext.value }}
                        {% elseif oViewConf.getStockOnDefaultMessage() %}
                            <span class="text-success">{{ translate({ ident: "READY_FOR_SHIPPING" }) }}</span>
                        {% endif %}
                    </span>
                {% endif %}
            </div>

        </div>

    </form>

    <form action="{{ oViewConf.getSelfActionLink()|raw() }}" method="post">
        <div class="hidden">
            {{ oViewConf.getHiddenSid()|raw() }}
            {{ oViewConf.getNavFormParams()|raw() }}
            <input type="hidden" name="cl" value="{{ oViewConf.getActiveClassName() }}">
            <input type="hidden" name="fnc" value="tocomparelist">
            <input type="hidden" name="aid" value="{{ product.oxarticles__oxid.value }}">
            <input type="hidden" name="anid" value="{{ product.oxarticles__oxnid.value }}">
            <input type="hidden" name="pgNr" value="0">
            <input type="hidden" name="am" value="1">
            <input type="hidden" name="removecompare" value="1">
        </div>
        {% hasrights { "ident": "TOBASKET",} %}
            <button class="btn btn-danger btn-sm" id="remove_cmp_{{ product.oxarticles__oxid.value }}" type="submit" title="{{ translate({ ident: "REMOVE" }) }}" name="send">
                <i class="fa fa-trash"></i> {{ translate({ ident: "REMOVE" }) }}
            </button>
        {% endhasrights %}
    </form>
</div>