{% block details_tabs_main %}
    <div class="tabbedWidgetBox clear">

        <ul id="itemTabs" class="nav nav-tabs">
            {% block details_tabs_longdescription_tab_name %}
                {% hasrights { "ident": "SHOWLONGDESCRIPTION",} %}
                    {% set oLongdesc = oDetailsProduct.getLongDescription() %}
                    {% if oLongdesc.value %}
                        <li>
                            <a href="#description" data-toggle="tab">{{ translate({ ident: "DESCRIPTION" }) }}</a>
                        </li>
                    {% endif %}
                {% endhasrights %}
            {% endblock %}

            {% block details_tabs_attributes_tab_name %}
                {% if oView.getAttributes() %}
                    <li>
                        <a href="#attributes" data-toggle="tab">{{ translate({ ident: "SPECIFICATION" }) }}</a>
                    </li>
                {% endif %}
            {% endblock %}

            {% block details_tabs_pricealarm_tab_name %}
                {% if oView.isPriceAlarm() and not oDetailsProduct.isParentNotBuyable() %}
                    <li>
                        <a href="#pricealarm" data-toggle="tab">{{ translate({ ident: "PRICE_ALERT" }) }}</a>
                    </li>
                {% endif %}
            {% endblock %}

            {% block details_tabs_tags_tab_name %}
            {% endblock %}

            {% block details_tabs_media_tab_name %}
                {% if oView.getMediaFiles() or oDetailsProduct.oxarticles__oxfile.value %}
                    <li>
                        <a href="#media" data-toggle="tab">{{ translate({ ident: "MEDIA" }) }}</a>
                    </li>
                {% endif %}
            {% endblock %}

            {% block details_tabs_comments_tab_name %}
            {% endblock %}

            {% block details_tabs_invite_tab_name %}
            {% endblock %}

            {% block details_tabs_social_navigation %}{% endblock %}
        </ul>
        <div class="tab-content">


            {% block details_tabs_longdescription %}
                {% hasrights { "ident": "SHOWLONGDESCRIPTION",} %}
                    {% set oLongdesc = oDetailsProduct.getLongDescription() %}
                    {% if oLongdesc.value %}
                        <div id="description" class="tab-pane active" itemprop="description">
                            {{ include(template_from_string(oLongdesc)) }}
                            {% if oDetailsProduct.oxarticles__oxexturl.value %}
                                <a id="productExturl" class="js-external" href="http://{{ oDetailsProduct.oxarticles__oxexturl.value }}">
                                    {% if oDetailsProduct.oxarticles__oxurldesc.value %}
                                        {{ oDetailsProduct.oxarticles__oxurldesc.value }}
                                    {% else %}
                                        {{ oDetailsProduct.oxarticles__oxexturl.value }}
                                    {% endif %}
                                </a>
                            {% endif %}
                        </div>
                    {% endif %}
                {% endhasrights %}
            {% endblock %}

            {% block details_tabs_attributes %}
                {% if oView.getAttributes() %}
                    <div id="attributes" class="tab-pane">{% include "page/details/inc/attributes.html.twig" %}</div>
                {% endif %}
            {% endblock %}

            {% block details_tabs_pricealarm %}
                {% if oView.isPriceAlarm() and not oDetailsProduct.isParentNotBuyable() %}
                    <div id="pricealarm" class="tab-pane">{% include "form/pricealarm.html.twig" %}</div>
                {% endif %}
            {% endblock %}

            {% block details_tabs_tags %}
            {% endblock %}

            {% block details_tabs_media %}
                {% if oView.getMediaFiles() or oDetailsProduct.oxarticles__oxfile.value %}
                    <div id="media" class="tab-pane">{% include "page/details/inc/media.html.twig" %}</div>
                {% endif %}
            {% endblock %}

            {% block details_tabs_comments %}
            {% endblock %}

            {% block details_tabs_invite %}
            {% endblock %}

            {% block details_tabs_social_content %}{% endblock %}
        </div>
    </div>

    {{ script({ add: 'document.getElementById("itemTabs").getElementsByTagName("li")[0].setAttribute("class", "active");' }) }}
{% endblock %}

