{% set oSelections = oSelectionList.getSelections() %}

{% if oSelections %}
    <div class="selectbox dropDown">
        {% if not blHideLabel %}
            <p class="variant-label">
                <strong>{{ oSelectionList.getLabel() }}{{ translate({ ident: "COLON" }) }}</strong>
            </p>
        {% endif %}
        <div class="dropdown-wrapper">
            <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                {% set oActiveSelection = oSelectionList.getActiveSelection() %}
                {% if oActiveSelection %}
                    <span class="pull-left">{{ oActiveSelection.getName() }}</span>
                {% elseif not blHideDefault %}
                    <span class="pull-left">
                        {% if sFieldName == "sel" %}
                            {{ translate({ ident: "PLEASE_CHOOSE" }) }}
                        {% else %}
                            {{ oSelectionList.getLabel() }} {{ translate({ ident: "CHOOSE_VARIANT" }) }}
                        {% endif %}
                    </span>
                {% endif %}

                <i class="fa fa-angle-down pull-right"></i>
            </button>
            {% if editable is not same as(false) %}
                <input type="hidden" name="{{ sFieldName|default("varselid") }}[{{ iKey }}]"
                       value="{% if oActiveSelection %}{{ oActiveSelection.getValue() }}{% endif %}">

                <ul class="dropdown-menu {{ sJsAction }}{% if sFieldName != "sel" %} vardrop{% endif %}" role="menu">
                    {% if oActiveSelection and not blHideDefault %}
                        <li>
                            <a href="#" rel="">
                                {% if sFieldName == "sel" %}
                                    {{ translate({ ident: "PLEASE_CHOOSE" }) }}
                                {% else %}
                                    {{ translate({ ident: "CHOOSE_VARIANT" }) }}
                                {% endif %}
                            </a>
                        </li>
                    {% endif %}
                    {% for oSelection in oSelections %}
                        <li class="{% if oSelection.isDisabled() %}disabled js-disabled{% endif %}">
                            <a href="{{ oSelection.getLink() }}" data-selection-id="{{ oSelection.getValue() }}"
                               class="{% if oSelection.isActive() %}active{% endif %}">{{ oSelection.getName() }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
{% endif %}