<dl>
    <dt>
        <input id="payment_{{ sPaymentID }}" type="radio" name="paymentid" value="{{ sPaymentID }}" {% if oView.getCheckedPaymentId() == paymentmethod.oxpayments__oxid.value %}checked{% endif %}>
        <label for="payment_{{ sPaymentID }}"><b>{{ paymentmethod.oxpayments__oxdesc.value }}</b></label>
    </dt>
    <dd class="{% if oView.getCheckedPaymentId() == paymentmethod.oxpayments__oxid.value %}activePayment{% endif %}">
        {% if paymentmethod.getPrice() %}
            {% set oPaymentPrice = paymentmethod.getPrice() %}
            {% if oViewConf.isFunctionalityEnabled('blShowVATForPayCharge')  %}
                {% spaceless %}
                    ({{ format_price(oPaymentPrice.getNettoPrice(), { currency: currency }) }}
                    {% if oPaymentPrice.getVatValue() > 0 %}
                        {{ translate({ ident: "PLUS_VAT" }) }} {{ format_price(oPaymentPrice.getVatValue(), { currency: currency }) }}
                    {% endif %})
                {% endspaceless %}
            {% else %}
                ({{ format_price(oPaymentPrice.getBruttoPrice(), { currency: currency }) }})
            {% endif %}
        {% endif %}

        {% for value in paymentmethod.getDynValues() %}
            <div class="form-group">
                <label class="control-label col-lg-3" for="{{ sPaymentID }}_{{ loop.index }}">{{ value.name }}</label>
                <div class="col-lg-9">
                    <input id="{{ sPaymentID }}_{{ loop.index }}" type="text" class="form-control textbox" size="20" maxlength="64" name="dynvalue[{{ value.name }}]" value="{{ value.value }}">
                </div>
            </div>
        {% endfor %}

        <div class="clearfix"></div>

        {% block checkout_payment_longdesc %}
            {% if paymentmethod.oxpayments__oxlongdesc.value|striptags|trim %}
                <div class="desc">
                    {{ paymentmethod.oxpayments__oxlongdesc.getRawValue() }}
                </div>
            {% endif %}
        {% endblock %}
    </dd>
</dl>
