{% block dd_footer_newsletter_form %}
    <form class="form-inline" role="form" action="{{ oViewConf.getSslSelfLink() }}" method="post">
        {% block dd_footer_newsletter_form_inner %}
            <div class="hidden">
                {{ oViewConf.getHiddenSid()|raw() }}
                <input type="hidden" name="fnc" value="fill">
                <input type="hidden" name="cl" value="newsletter">
                {% if oView.getProduct() %}
                    {% set product = oView.getProduct() %}
                    <input type="hidden" name="anid" value="{{ product.oxarticles__oxnid.value }}">
                {% endif %}
            </div>

            {% block dd_footer_newsletter_form_inner_group %}
                <label class="sr-only" for="footer_newsletter_oxusername">{{ translate({ ident: "NEWSLETTER" }) }}</label>
                <input class="form-control" type="email" name="editval[oxuser__oxusername]" id="footer_newsletter_oxusername" value="" placeholder="{{ translate({ ident: "EMAIL" }) }}">
                <button class="btn btn-primary" type="submit">{{ translate({ ident: "SUBSCRIBE" }) }}</button>
            {% endblock %}
        {% endblock %}
    </form>
{% endblock %}