{% capture append = "oxidBlock_content" %}

    {% block checkout_order_errors %}
        {% if oView.isConfirmAGBActive() and oView.isConfirmAGBError() == 1 %}
            {% include "message/error.html.twig" with {statusMessage: "READ_AND_CONFIRM_TERMS"|translate} %}
        {% endif %}
        {% set iError = oView.getAddressError() %}
        {% if iError == 1 %}
           {% include "message/error.html.twig" with {statusMessage: "ERROR_DELIVERY_ADDRESS_WAS_CHANGED_DURING_CHECKOUT"|translate} %}
        {% endif %}
    {% endblock %}

    {# ordering steps #}
    {% include "page/checkout/inc/steps.html.twig" with {active: 4} %}

    {% block checkout_order_main %}
        {% if not oView.showOrderButtonOnTop() %}
            <div class="alert alert-info">{{ translate({ ident: "MESSAGE_SUBMIT_BOTTOM" }) }}</div>
        {% endif %}

        {% block checkout_order_details %}
            {% if not oxcmp_basket.getProductsCount()  %}
                {% block checkout_order_emptyshippingcart %}
                    <div class="alert alert-danger">{{ translate({ ident: "BASKET_EMPTY" }) }}</div>
                {% endblock %}
            {% else %}
                {% set currency = oView.getActCurrency() %}

                {% block checkout_order_next_step_top %}
                    {% if oView.isLowOrderPrice() %}
                        {% block checkout_order_loworderprice_top %}
                            <div class="alert alert-info">{{ translate({ ident: "MIN_ORDER_PRICE" }) }} {{ oView.getMinOrderPrice() }} {{ currency.sign }}</div>
                        {% endblock %}
                    {% else %}
                        {% if oView.showOrderButtonOnTop() %}
                            <div class="well well-sm">
                                <a href="{{ seo_url({ ident: oViewConf.getPaymentLink() }) }}" class="btn btn-default prevStep submitButton largeButton">{{ translate({ ident: "PREVIOUS_STEP" }) }}</a>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endblock %}

                {% block checkout_order_vouchers %}
                    {% if oViewConf.getShowVouchers() and oxcmp_basket.getVouchers() %}
                        {{ translate({ ident: "USED_COUPONS" }) }}
                        {% for key, oEr in Errors.basket %}
                            {% if oEr.getErrorClassType() == 'oxVoucherException' %}
                                <div class="alert alert-danger">
                                    {{ translate({ ident: "PAGE_CHECKOUT_ORDER_COUPONNOTACCEPTED1" }) }} {{ oEr.getValue('voucherNr') }} {{ translate({ ident: "PAGE_CHECKOUT_ORDER_COUPONNOTACCEPTED2" }) }}<br>
                                    {{ translate({ ident: "REASON" }) }}
                                    {{ oEr.getOxMessage() }}
                                </div>
                            {% endif %}
                        {% endfor %}
                        <div class="alert alert-info">
                            {% for key, sVoucher in oxcmp_basket.getVouchers() %}
                                {{ sVoucher.sVoucherNr }}<br>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endblock %}

                {% block checkout_order_address %}
                    <div id="orderAddress" class="row">
                        <div class="col-xs-12 col-md-6">
                            <form action="{{ oViewConf.getSslSelfLink()|raw() }}" method="post">
                                <div class="hidden">
                                    {{ oViewConf.getHiddenSid()|raw() }}
                                    <input type="hidden" name="cl" value="user">
                                    <input type="hidden" name="fnc" value="">
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">
                                            {{ translate({ ident: "BILLING_ADDRESS" }) }}
                                            <button type="submit" class="btn btn-xs btn-warning pull-right submitButton largeButton" title="{{ translate({ ident: "EDIT" }) }}">
                                                <i class="fa fa-pencil"></i>
                                            </button>
                                        </h3>
                                    </div>
                                    <div class="panel-body">
                                        {% include "widget/address/billing_address.html.twig" %}
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <form action="{{ oViewConf.getSslSelfLink()|raw() }}" method="post">
                                <div class="hidden">
                                    {{ oViewConf.getHiddenSid()|raw() }}
                                    <input type="hidden" name="cl" value="user">
                                    <input type="hidden" name="fnc" value="">
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">
                                            {{ translate({ ident: "SHIPPING_ADDRESS" }) }}
                                            <button type="submit" class="btn btn-xs btn-warning pull-right submitButton largeButton" title="{{ translate({ ident: "EDIT" }) }}">
                                                <i class="fa fa-pencil"></i>
                                            </button>
                                        </h3>
                                    </div>
                                    <div class="panel-body">
                                        {% set oDelAdress = oView.getDelAddress() %}
                                        {% if oDelAdress %}
                                            {% include "widget/address/shipping_address.html.twig" with {delivadr: oDelAdress} %}
                                        {% else %}
                                            {% include "widget/address/billing_address.html.twig" %}
                                        {% endif %}
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                {% endblock %}

                {% block shippingAndPayment %}
                    <div class="row">
                        <div class="col-xs-12 col-md-6" id="orderShipping">
                            <form action="{{ oViewConf.getSslSelfLink()|raw() }}" method="post">
                                <div class="hidden">
                                    {{ oViewConf.getHiddenSid()|raw() }}
                                    <input type="hidden" name="cl" value="payment">
                                    <input type="hidden" name="fnc" value="">
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">
                                            {{ translate({ ident: "SHIPPING_CARRIER" }) }}
                                            <button type="submit" class="btn btn-xs btn-warning pull-right submitButton largeButton" title="{{ translate({ ident: "EDIT" }) }}">
                                                <i class="fa fa-pencil"></i>
                                            </button>
                                        </h3>
                                    </div>
                                    <div class="panel-body">
                                        {% set oShipSet = oView.getShipSet() %}
                                        {{ oShipSet.oxdeliveryset__oxtitle.value }}
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-xs-12 col-md-6" id="orderPayment">
                            <form action="{{ oViewConf.getSslSelfLink()|raw() }}" method="post">
                                <div class="hidden">
                                    {{ oViewConf.getHiddenSid()|raw() }}
                                    <input type="hidden" name="cl" value="payment">
                                    <input type="hidden" name="fnc" value="">
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">
                                            {{ translate({ ident: "PAYMENT_METHOD" }) }}
                                            <button type="submit" class="btn btn-xs btn-warning pull-right submitButton largeButton" title="{{ translate({ ident: "EDIT" }) }}">
                                                <i class="fa fa-pencil"></i>
                                            </button>
                                        </h3>
                                    </div>
                                    <div class="panel-body">
                                        {% set payment = oView.getPayment() %}
                                        {{ payment.oxpayments__oxdesc.value }}
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                {% endblock %}

                {% block checkout_order_remark %}
                    {% if oView.getOrderRemark() %}
                        <form action="{{ oViewConf.getSslSelfLink()|raw() }}" method="post">
                            <div class="hidden">
                                {{ oViewConf.getHiddenSid()|raw() }}
                                <input type="hidden" name="cl" value="user">
                                <input type="hidden" name="fnc" value="">
                            </div>

                            <div class="panel panel-default orderRemarks">
                                <div class="panel-heading">
                                    <h3 class="panel-title">
                                        {{ translate({ ident: "WHAT_I_WANTED_TO_SAY" }) }}
                                        <button type="submit" class="btn btn-xs btn-warning pull-right submitButton largeButton" title="{{ translate({ ident: "EDIT" }) }}">
                                            <i class="fa fa-pencil"></i>
                                        </button>
                                    </h3>
                                </div>
                                <div class="panel-body">
                                    {{ oView.getOrderRemark()|nl2br }}
                                </div>
                            </div>
                        </form>
                    {% endif %}
                {% endblock %}

                {% if not oView.isLowOrderPrice() %}
                    <div id="orderAgbTop">
                        <form action="{{ oViewConf.getSslSelfLink()|raw() }}" method="post" id="orderConfirmAgbTop">
                            {{ oViewConf.getHiddenSid()|raw() }}
                            {{ oViewConf.getNavFormParams()|raw() }}
                            <input type="hidden" name="cl" value="order">
                            <input type="hidden" name="fnc" value="{{ oView.getExecuteFnc() }}">
                            <input type="hidden" name="challenge" value="{{ challenge }}">
                            <input type="hidden" name="sDeliveryAddressMD5" value="{{ oView.getDeliveryAddressMD5() }}">

                            {% include "page/checkout/inc/agb.html.twig" %}
                        </form>
                    </div>
                {% endif %}

                <div id="orderEditCart">
                    <form action="{{ oViewConf.getSslSelfLink()|raw() }}" method="post">
                        <div class="hidden">
                            {{ oViewConf.getHiddenSid()|raw() }}
                            <input type="hidden" name="cl" value="basket">
                            <input type="hidden" name="fnc" value="">
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    {{ translate({ ident: "CART" }) }}
                                    <button type="submit" class="btn btn-xs btn-warning pull-right submitButton largeButton" title="{{ translate({ ident: "EDIT" }) }}">
                                        <i class="fa fa-pencil"></i>
                                    </button>
                                </h3>
                            </div>
                            <div class="panel-body">
                                {% block order_basket %}
                                    <div class="lineBox">
                                        {% include "page/checkout/inc/basketcontents.html.twig" with {editable: false} %}
                                    </div>
                                {% endblock %}
                            </div>
                        </div>
                    </form>
                </div>
            {% endif %}

            {% block checkout_order_next_step_bottom %}
                {% if oView.isLowOrderPrice() %}
                    {% block checkout_order_loworderprice_bottom %}
                        <div class="alert alert-info">
                            <div>{{ translate({ ident: "MIN_ORDER_PRICE" }) }} {{ oView.getMinOrderPrice() }} {{ currency.sign }}</div>
                        </div>
                    {% endblock %}
                {% else %}
                    {% block checkout_order_btn_confirm_bottom %}
                        <form action="{{ oViewConf.getSslSelfLink()|raw() }}" method="post" id="orderConfirmAgbBottom" class="form-horizontal">
                            <div class="hidden">
                                {{ oViewConf.getHiddenSid()|raw() }}
                                {{ oViewConf.getNavFormParams()|raw() }}
                                <input type="hidden" name="cl" value="order">
                                <input type="hidden" name="fnc" value="{{ oView.getExecuteFnc() }}">
                                <input type="hidden" name="challenge" value="{{ challenge }}">
                                <input type="hidden" name="sDeliveryAddressMD5" value="{{ oView.getDeliveryAddressMD5() }}">

                                {% if oView.isActive('PsLogin') or not oView.isConfirmAGBActive() %}
                                    <input type="hidden" name="ord_agb" value="1">
                                {% else %}
                                    <input type="hidden" name="ord_agb" value="0">
                                {% endif %}
                                <input type="hidden" name="oxdownloadableproductsagreement" value="0">
                                <input type="hidden" name="oxserviceproductsagreement" value="0">
                            </div>

                            <div class="well well-sm cart-buttons">
                                {% block checkout_order_btn_submit_bottom %}
                                <button type="submit" class="btn btn-lg btn-primary pull-right submitButton nextStep largeButton">
                                    <i class="fa fa-check"></i> {{ translate({ ident: "SUBMIT_ORDER" }) }}
                                </button>
                                {% endblock %}

                                <div class="clearfix"></div>
                            </div>
                        </form>
                    {% endblock %}
                {% endif %}
            {% endblock %}
        {% endblock %}
    {% endblock %}
    {{ insert_tracker({title: template_title}) }}
{% endcapture %}

{% set template_title = "REVIEW_YOUR_ORDER"|translate %}
{% include "layout/page.html.twig" with {title: template_title, location: template_title} %}
